@model IEnumerable<LostAndFound.Models.Find>

@{
    ViewBag.Title = "Index";
}
<script type="text/javascript" src="@Url.Content("/Scripts/jquery.min.js")"></script>
@*<script type="text/javascript" src="@Url.Content("/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery.validate.min.js")"></script>*@
<script type="text/javascript" src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

<style>
    .fold {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }

    .active {
        display: inline-block
    }

    .hiddenRow {
        padding: 0 !important;
    }
</style>
<script>

    $(document).ready(function () {
    dateDefaultValues = function () {
        year = @DateTime.Now.Year;
        month = @DateTime.Now.Month;
        if (month < 10)
            month = '0' + month;
        day = @DateTime.Now.Day;
        if (day < 10)
            day = '0' + day;
        date = year + "-" + month + "-" + day;

        $("#dateNow").val(date);

        date = (year - 1) + "-" + month + "-" + day;
        $("#fromDate").val(date);
    }
    dateDefaultValues();

    $("#category").change(function () {
        $("#hiddenMainCategory").val($("#category").val());
        $("#categoryForm").submit();
    });
    var theAllOption = ($("<option>הכל</option>"));
    $("#categoryForm").submit(function (event) {
        event.preventDefault();
        var target = $(this);

        $.ajax({
            url: target.attr("action"),
            data: target.serialize(),
            success: function (data) {

                $("#subCategories").empty().append(theAllOption);
                $.each(data, function (i, value) {
                    $("#subCategories").append($("<option>" + JSON.stringify(value).split('"')[1] + "</option>"));
                });
            }


        });
        $('.accordian-body').on('show.bs.collapse', function () {
    $(this).closest("table")
        .find(".collapse.in")
        .not(this)
        .collapse('toggle')
})


    });
    //$(function () {
    //    $("table tr.view").on("click", function () {
    //        $(this).next(".fold").toggleClass("active");
    //    });
    //})
});
</script>
<p>
   
    @Html.ActionLink("הוסף מציאה", "CreateFind","Create")
</p>
<form id="categoryForm" action="@Url.Action("Index", "Home")" style="display:inline-block">
    <label>קטגוריה</label>
    <select id="category" name="category">

        <option>הכל</option>
        @foreach (var item in ViewBag.category)
        {
            <option>@item.Name</option>
        }
    </select>
</form>
@using (Ajax.BeginForm("SearchFinds", new AjaxOptions()
{
    UpdateTargetId = "updateTable",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace

}))
{
    <input id="hiddenMainCategory" name="hiddenCategory" hidden="hidden" value="הכל" />

    <label>תת קטגוריה</label>
    <select id="subCategories" name="subCategory">
        <option>הכל</option>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <option>@item</option>
            }

        }
    </select>

    <label>מקום</label>
    <select id="place" name="place">
        <option>הכל</option>
        @foreach (var item in ViewBag.place)
        {
            <option>@item.PlaceOrEvent</option>
        }
    </select>
    <label>החל מ</label>
    <input id="fromDate" type="date" name="fromDate" />
    <label>עד</label>
    <input id="dateNow" type="date" name="toDate" />
    <label>טקסט חופשי</label>
    <input type="text" name="text" />
    <input type="checkbox" id="searchArchive" name="searchArchive" value="true" />
    <input type="submit" value="סנן" />

}
<h2>לוח מציאות</h2>

<div id="updateTable">
    <table class="table table-condensed" style="border-collapse:collapse;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateFound)
            </th>
           
            <th></th>
        </tr>
        @foreach (var item in ViewBag.tbl)
        {
            <tr data-toggle="collapse" data-target="@("#demo"+ViewBag.tbl.IndexOf(item))" class="accordion-toggle">
                <td>
                    @item.subcategoryname
                </td>
                <td>
                    @item.description
                </td>
                <td>
                    ""
                </td>
                <td>
                    @item.PlaceOrEvent
                </td>
                <td>
                    @item.date
                </td>


            </tr>
            <tr data-toggle="collapse" data-target="@("#demo"+ ViewBag.tbl.IndexOf(item))" class="accordion-toggle">
                <td colspan="6" class="hiddenRow">
                    <div class="accordian-body collapse" id="@("demo"+ ViewBag.tbl.IndexOf(item))">
                        <table>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.notes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.finderName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cellphone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.email)
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @item.notes
                                </td>
                                <td>
                                    @item.name
                                </td>
                                <td>
                                    @item.cellphone
                                </td>
                                <td>
                                    @item.email
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>

            </tr>

        }
    </table>
</div>

