@model IEnumerable<LostAndFound.Models.Find>

@{
    ViewBag.Title = "Index";
}
<script>  
    $(document).ready(function () {
        $("#category").change(function () {
            $("#hiddenMainCategory").val($("#category").val());
            $("#categoryForm").submit();
        });
        var theAllOption = ($("<option>הכל</option>"));
        $("#categoryForm").submit(function (event) {
            event.preventDefault();
            var target = $(this);
            $.ajax({
                url: target.attr("action"),
                data: target.serialize(),
                success: function (data) {

                    $("#subCategories").empty().append(theAllOption);
                    $.each(data, function (i, value) {
                        $("#subCategories").append($("<option>" + JSON.stringify(value).split('"')[1] + "</option>"));
                    });
                }
            });
        });
    }
    </script>
<p>
    @Html.ActionLink("הוסף מציאה", "CreateFind")
</p>
@*<form id="categoryForm" action="@Url.Action("Index", "Home")" style="display:inline-block">
    <label>קטגוריה</label>
    <select id="category" name="category">

        <option>הכל</option>
        @if(ViewBag.category != null)  {
        foreach (var item in ViewBag.category)
        {
            <option>@item.Name</option>
        }}
    </select>
</form>*@
@using (Ajax.BeginForm("Search", new AjaxOptions()
{
    UpdateTargetId = "updateTable",
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace

})) 
{
    <input id="hiddenMainCategory" name="hiddenCategory" hidden="hidden" value="הכל" />

    <label>תת קטגוריה</label>
    <select id="subCategories" name="subCategory">
        <option>הכל</option>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <option>@item</option>
            }

        }
    </select>

    <label>מקום</label>
    <select id="place" name="place">
        <option>הכל</option>
        @if (ViewBag.location!= null)
        {
            foreach (var item in ViewBag.location)
            {
            <option>@item.PlaceOrEvent</option>
            }
        }
    </select>
    <label>החל מ</label>
    <input id="fromDate" type="date" name="fromDate" />
    <label>עד</label>
    <input id="dateNow" type="date" name="toDate" />
    <label>טקסט חופשי</label>
    <input type="text" name="text" />
    <input type="submit" value="סנן" />
}
<h2>לוח מציאות</h2>
<div id="updateTable">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.finderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cellphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
@if(ViewBag.tbl != null)
{foreach (var item in ViewBag.tbl)
    {
            <tr>
                <td>
                    @item.subcategoryname
                </td>
                <td>
                    @item.description
                </td>
                <td>
                    ""
                </td>
                <td>
                    @item.PlaceOrEvent
                </td>
                <td>
                    @item.date
                </td>

                <td>
                    @item.notes
                </td>
                <td>
                    @item.name
                </td>
                <td>
                    @item.cellphone
                </td>
                <td>
                    @item.email
                </td>
            </tr>
    }
}
    </table>
</div>