@model IEnumerable<LostAndFound.Models.Find>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="~/trial/style.css" rel="stylesheet" />
<link href="~/Scripts/product-quick-view-master/css/css.css" rel="stylesheet" />
<link href="~/Scripts/product-quick-view-master/css/reset.css" rel="stylesheet" />
<link href="~/Scripts/product-quick-view-master/css/style.css" rel="stylesheet" />
<script src="js/modernizr.js"></script>
<script src="~/Scripts/product-quick-view-master/js/jquery-2.1.1.js"></script>
<script src="~/Scripts/product-quick-view-master/js/velocity.min.js"></script>
<script src="~/Scripts/product-quick-view-master/js/main.js"></script>

<script>
    $(document).ready(function () {
    dateDefaultValues = function () {
        year = @DateTime.Now.Year;
        month = @DateTime.Now.Month;
        if (month < 10)
            month = '0' + month;
        day = @DateTime.Now.Day;
        if (day < 10)
            day = '0' + day;
        date = year + "-" + month + "-" + day;

        $("#dateNow").val(date);

        date = (year - 1) + "-" + month + "-" + day;
        $("#fromDate").val(date);
    }
    dateDefaultValues();

    $("#category").change(function () {
        $("#hiddenMainCategory").val($("#category").val());
        $("#categoryForm").submit();
    });
    var theAllOption = ($("<option>הכל</option>"));
    $("#categoryForm").submit(function (event) {
        event.preventDefault();
        var target = $(this);

        $.ajax({
            url: target.attr("action"),
            data: target.serialize(),
            success: function (data) {

                $("#subCategories").empty().append(theAllOption);
                $.each(data, function (i, value) {
                    $("#subCategories").append($("<option>" + JSON.stringify(value).split('"')[1] + "</option>"));
                });
            }


        });
            });
    });

    function showPhoneInput(){
        debugger;
        $("#cellphone").css("display", "block");
    }

   
</script>
@*<img src="~/trial/image.png" id="background" alt="רקע לא נמצא" />*@

    @*<img src="~/icons/432.jpg" id="background" alt="רקע לא נמצא" />*@
    @*<p>

        @Html.ActionLink("הוסף מציאה", "CreateFind", "Create")
    </p>*@

    <div id="containerSearchForm" @*class="containerx"*@>

        <div id="wrapSearchForm">
            <form id="categoryForm" action="@Url.Action("Index", "Home")" style="display:inline-block">
                <select id="category" name="category" class="input1">
                    <option>בחר קטגוריה</option>
                    @foreach (var item in ViewBag.category)
                    {
                        <option>@item.Name</option>
                    }
                </select>
            </form>
            @using (Ajax.BeginForm("SearchFinds", new AjaxOptions()
            {
                UpdateTargetId = "updateTable",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace

            }))
            {

                <img style="height:25px" src="~/trial/email.ico" />


                <input id="hiddenMainCategory" name="hiddenCategory" hidden="hidden" value="הכל" />

                <select id="subCategories" name="subCategory" class="input1">
                    <option>בחר תת קטגוריה</option>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <option>@item</option>
                        }

                    }
                </select>
                <img style="height:25px" src="~/trial/email.ico" />
                <select id="place" name="place" class="input1">
                    <option>בחר מקום</option>
                    @foreach (var item in ViewBag.place)
                    {
                        <option>@item.PlaceOrEvent</option>
                    }
                </select>
                <img style="height:25px" src="~/trial/email.ico" />
                <input id="fromDate" type="date" name="fromDate" class="input1" />
                <input id="dateNow" type="date" name="toDate" class="input1" />
                <img style="height:25px" src="~/trial/email.ico" />
                <input type="text" placeholder="טקסט חופשי" name="text" class="input1" />
                <img style="height:25px" src="~/trial/email.ico" />
                <div class="input1">
                    <label class="containerCheckbox">
                        חפש גם בארכיון
                        <input id="searchArchive" type="checkbox" name="searchArchive" value="true">
                        <span class="checkmark"></span>
                    </label>
                </div>
                @*<div class="row"><input type="checkbox" id="searchArchive" name="searchArchive" value="true" class=" col-md-4" /><label class="col-md-4">חיפוש בארכיון</label></div>*@
                <input type="submit" class="input1" value="סנן" />

            }
        </div>
    </div>
    <div id="updateTable">
        
        <ul class="cd-items cd-container card">
            @foreach (var item in ViewBag.tbl)
            {

            <li class="cd-item">

                <div class="cd-item-img-container">
                    <img src="@Url.Content(@item.picture)" alt="Item Preview" />
                </div>
                <div style="background-color:ghostwhite">
                    <h4 class="card-title">@item.description</h4>
                    <div>@item.subcategoryname</div>
                </div>
                <a href="#0" class="cd-trigger">הצג פרטים</a>
                
        
                <div class="cd-quick-view">
                    <div class="cd-slider-wrapper">
                        <ul class="cd-slider">
                            <li class="selected">
                                <img src="@Url.Content(@item.picture)" alt="Item Preview" />
                            </li>
                        </ul>
                    </div>
                    <div class="cd-item-info">
                        <v class="info-data">
                            <div>

                                <h3>@item.description</h3>
                            </div>
                            <div>
                                <label>נמצא בתאריך:</label>
                                <p>@item.date</p>
                            </div>
                            <div>
                                <label>נמצא ב:</label>
                                <p>@item.PlaceOrEvent</p>
                            </div>
                            <div>
                                <label>הערות:</label>
                                <p>@item.notes</p>
                            </div>
                            <div>
                                <label>פרטי מוצא:</label>
                                <p class="finder-info">@item.name</p>
                                <p class="finder-info">@item.email</p>
                                <p class="finder-info">@item.cellphone</p>
                            </div>
                            <div>
                                <input type="button" onclick="showPhoneInput()" value="צור קשר עם המוצא"/>
                            </div>
                            @using (Html.BeginForm("makeCall", "phoneCall", FormMethod.Post))
                            {
                                <div id="cellphone">
                                    <input type="text" maxlength="10" name="phone"/>
                                    <input type="text" name="findId" value="@item.id"  style="display:none" />
                                    <input type="submit" value="התקשר" />
                                </div>
                            }
                        </div>
                    </div>
                    <a href="#0" class="cd-close">Close</a>
                
            </li>

               
            }
        </ul>
       

    </div>
