@model IEnumerable<LostAndFound.Models.Find>
<script src="~/Scripts/product-quick-view-master/js/main.js"></script>
<ul class="cd-items cd-container card">
    @foreach (var item in ViewBag.tbl)
    {

        <li class="cd-item">
            <div class="cd-item-img-container">
                <img src="@Url.Content(@item.picture)" alt="Item Preview" />
            </div>
            <div style="background-color:ghostwhite">
                <h4 class="card-title">@item.subcategoryname</h4>
                <div>@item.subcategoryname</div>
                <div>@item.description</div>
            </div>
            <a href="#0" class="cd-trigger">Quick View</a>

            <div class="cd-quick-view">
                <div class="cd-slider-wrapper">
                    <ul class="cd-slider">
                        <li class="selected">
                            <img src="@Url.Content(@item.picture)" alt="Item Preview" />
                        </li>
                    </ul>
                </div>
                <div class="cd-item-info">
                </div>
                <a href="#0" class="cd-close">Close</a>
            </div>
        </li>


    }
</ul>

