@model LostAndFound.Models.Find
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="~/Scripts/imported/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
@*<script src="~/Scripts/imported/jquery-ui.min.js"></script>*@
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="~/Scripts/Self/camera.js"></script>
<script src="~/Scripts/Self/CreateFind.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<link href="~/Styles/imported/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Styles/Self/CreateFind.css" rel="stylesheet" />

<form id="findform1">
    <div id="container1" class="container_">
        <div class="container_title">המציאה</div>
        <div class="container_input">
            @*<img class="input_icon" src="email.ico" />*@
            <img class="input_icon" src="~/Images/Icons/category.png" title="קטגוריה" />

            <select id="category" name="headCategory" class="input1">
                @if (ViewBag.headCategories != null)
                {
                    foreach (var item in ViewBag.headCategories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
        </div>

        <div class="container_input">
            <img class="input_icon" src="~/Images/Icons/subCategory.png" title="תת קטגוריה" />
            <select id="subCategories" name="subCategory" class="input1">

                @if (ViewBag.sub != null)
                {
                    foreach (var item in ViewBag.sub)
                    {
                        <option>@item</option>
                    }
                }
                <option>אחר</option>
            </select>
        </div>
        <div class="container_input">
            <img class="input_icon" src="~/Images/Icons/location.png" title="היכן נמצא" />
            <select id="location" name="location" class="input1">
                @if (ViewBag.locations != null)
                {
                    foreach (var item in ViewBag.locations)
                    {
                        <option value="@item.Id">@item.PlaceOrEvent</option>
                    }
                }
            </select>
        </div>
        <div class="container_input">
            <img class="input_icon" src="~/Images/Icons/date.png" title="תאריך מציאה" />
            <input type="date" id="dateFound" name="dateFound" class="input1" />
            @Html.ValidationMessageFor(model => model.dateFound, "", new
           { @class = "text-danger", })
        </div>
        <div class="container_input">
            <img class="input_icon" src="~/Images/Icons/description.png" title="תאור" />
            <textarea class="input1" required name="description" placeholder="תאור"></textarea>
            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
        </div>
        <div class="container_input">
            <img class="input_icon" src="~/Images/Icons/notes.png" title="הערות" />
            <input class="input1" name="notes" placeholder="הערות" />
            @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
        </div>

    </div>
    <div id="container2" class="container_">
        <div class="container_title">המוצא</div>


        <div class="container_input">
            <img class="input_icon" src="~/Images/Icons/name.png" title="שם המוצא" />
            <input class="input1" required name="finderName" placeholder="שם" />
            @Html.ValidationMessageFor(model => model.finderName, "", new { @class = "text-danger" })
        </div>
        <div class="container_input">
            <img class="input_icon"  src="~/Images/Icons/phone.png" title="טלפון" />
            <input class="input1" required name="cellphone" placeholder="טלפון" />
            @Html.ValidationMessageFor(model => model.cellphone, "", new { @class = "text-danger" })
        </div>
        <div class="container_input">
            <img class="input_icon" src="~/Images/Icons/mail.png" title="דואר אלקטרוני" />
            <input type="email" required class="input1" name="email" placeholder="דואר אלקטרוני" />
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
        <div class="input_icon"></div>


    </div>
    <div id="container3" class="container_">
        <div class="container_title">תמונה</div>
        <div>
            <div id="inputFile">
                <img id="uploadImage_btn" src="~/Images/Icons/file.png" class="input_icon" title="העלה תמונה" />
                <img id='openCamera' src="~/Images/Icons/camera.png" class="input_icon" title="פתח מצלמה" />

                @*<input id="uploadImage_btn" class="btn btn-default btn-choose" type="button" value="קובץ" title="העלה תמונה" />
                    <a class="btn btn-default btn-choose" id='openCamera'>

                        Open cam
                    </a>*@
            </div>
            <div id="displayPicture">
                <img id="uploadedImage" class="imagePlace" name="uploadedImage" src="#" alt="your image" hidden="hidden" />
                <div id='cameraContainer' hidden="hidden">
                    <div id="vid" class=''>
                        <video id="video" class="imagePlace"></video>
                    </div>
                    <canvas id='canvas' name="webCamPicture" class="imagePlace"></canvas>
                    <div id="control">
                        <a id='retake' title="רענן"><i class="fas fa-sync-alt"></i></a>
                        <a id='snap'  title="צלם"><i class="fas fa-camera-retro"></i></a>
                    </div>
                </div>
                <div id="dragableDiv">

                </div>
            </div>
        </div>

    </div>

    @*<img src="image.png" id="background" alt="רקע לא נמצא" />*@

<div id="container4" class="container_">
    <div class="container_title">מקור</div>
    <h2 class="text">סימן-</h2>
     @*הוא סימן היכר ייחודי, שיוכל להוכיח את תביעת הבעלים על אבידתו
    הרואה אבידת ישראל שיש בה סימן ומעלים עיניו ממנה, עובר בלא תעשה "לא תראה את שור.. והתעלמת" וכן מבטל מצוות עשה של "השב תשיבם"*@
<h3 class="text">הוא סימן היכר ייחודי, שיוכל להוכיח את תביעת הבעלים על אבידתו</h3>
<h5 class="text">הרואה אבידת ישראל שיש בה סימן ומעלים עיניו ממנה, עובר בלא תעשה "לא תראה את שור.. והתעלמת" וכן מבטל מצוות עשה של "השב תשיבם"</h5>
</div>
    <button type="submit" id="saveFind" title="שמור מציאה">@*<i class="fas fa-angle-left"></i>*@
                                                           <i class="fas fa-check"></i></button>
    @*<input type="submit" id="saveFind" class="ui-button" value="שמור מציאה" />*@
</form>
<div>

    @Html.ActionLink("בית", "Home", "home")
</div>

<script type="text/javascript">
    $(document).ready(function () {
       // $('#dragableDiv').resizable({ handles: 'n,w,s,e' });

    $('#category').on('change', function () {
        var selected = $('#category').val();
        $.ajax({
            type: "GET",
            async: false,
            url: "/Create/SelectedHeadCategory",
            data: { headCategory: selected },
            success: function (result) {
                var dropdown = $("#subCategories");
                dropdown.find('option').remove().end()
                $.each(result, function () {
                    dropdown.append($("<option />").val(this).text(this));
                });
                dropdown.append($("<option />").val('אחר').text('אחר'));
                $("#subCategories").val($("#subCategories option:first").val());
            }
        }).done(function (o) {
            console.log('saved');
            // If you want the file to be visible in the browser
            // - please modify the callback in javascript. All you
            // need is to return the url to the file, you just saved
            // and than put the image in your browser.
        });
          });
          //set dateNow
        dateNOW = function () {  year = @DateTime.Now.Year;
        month = @DateTime.Now.Month;
        if (month < 10)
            month = '0' + month;
         day = @DateTime.Now.Day;
        if (day < 10)
             day = '0' + day;
        date = year + "-" + month + "-" + day;

        $("#dateFound").val(date);
        }
        debugger
        dateNOW();
        //after changing date
        $("#dateFound").change(
            function () {
                if ($(this).val() == "") {
                    year = @DateTime.Now.Year;
                     month = @DateTime.Now.Month;
                    if (month < 10)
                       month = '0' + month;
                    day = @DateTime.Now.Day;
                   if (day < 10)
                        day = '0' + day;
                   date = year + "-" + month + "-" + day;
                   $(this).val(date);
                }
            }
        );
       //$("#dragableDiv").resizable({ handles: 'n,w,s,e' });

});
</script>